/* Style Initialization */
a {
    color: #fff;
    text-decoration: none;
}
body {
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
        "\5B8B\4F53", sans-serif;
    color: #fff;
}
/* First Page Background Color */
.sec1 {
    background: linear-gradient(to right top, #c0d1ff, #eac0ff);
    min-height: 100vh;
    background-size: 100%;
}
/* Main */
main {
    display: flex;
    width: 1200px;
    height: 600px;
    border-radius: 25px;
    background-image: linear-gradient(to right top, #e66465, #9198e5);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    overflow: hidden;
    backdrop-filter: blur(0.2rem);
}
/* Left Menu */
.main_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}
.main_left div {
    width: 100%;
    flex: 1;
    text-align: center;
    transition: 0.5s ease-in-out;
}
/* Avatar */
.myPhoto {
    flex: 3;
    width: 100%;
    padding: 15px auto;
    text-align: center;
}
.myPhoto a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 100%;
    color: #426696;
    font-size: 16px;
}
.myPhoto img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 10px auto;
}
.myPhoto p {
    margin: 10px auto;
}
/* Left Menu */
.main_left div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 100%;
    color: #426696;
    font-size: 14px;
    font-weight: 700;
}
.main_left div:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
}
.main_left div:hover a {
    color: #000;
}
/* Left Menu Little Button */
.main_left div:nth-child(2) a p::before {
    content: "\e608";
    font-family: "iconfont";
    font-size: 30px;
    margin-right: 20px;
    color: #2867ce;
}
.main_left div:nth-child(3) a p::before {
    content: "\e60d";
    font-family: "iconfont";
    font-size: 30px;
    margin-right: 20px;
    color: #ffbd27;
}
.main_left div:nth-child(4) a p::before {
    content: "\e614";
    font-family: "iconfont";
    font-size: 30px;
    margin-right: 20px;
    color: #4fffff;
}
.main_left div:nth-child(5) a p::before {
    content: "\e600";
    font-family: "iconfont";
    font-size: 30px;
    margin-right: 20px;
    color: #f44336;
}
.main_left div:nth-child(6) a p::before {
    content: "\e665";
    font-family: "iconfont";
    font-size: 30px;
    margin-right: 20px;
    color: #09bb07;
}
.main_left div:nth-child(7) a p::before {
    content: "\e67c";
    font-family: "iconfont";
    font-size: 30px;
    margin-right: 20px;
    color: #93a8ff;
}
/* Right Content */
.main_right {
    flex: 7;
    height: 600px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0 25px 25px 0;
    overflow: hidden;
}
.content {
    float: right;
    width: 98%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.hidden {
    display: none;
}
.content img {
    width: 640px;
    height: 360px;
    border-radius: 25px;
    margin: 40px auto;
}
.content p {
    color: #426696;
    font-size: 16px;
    font-weight: 700;
    margin: 20px auto 0;
}
/* Link Style */
.content a {
    color: #426696;
    font-size: 16px;
    font-weight: 700;
    margin: 20px auto 0;
}
/* Table Style */
.content table {
    color: #426696;
    font-size: 16px;
    font-weight: 700;
    border:3px solid #426696;
    border-radius: 25px;
    margin: 20px auto 0;
}
.content th {
    font-size: 20px;
    font-weight: bold;
}
/* Right Home Avatar */
.main_right div:nth-child(1) p {
    color: #426696;
    font-size: 16px;
    font-weight: 700;
    margin: 20px auto 0;
}
.main_right div:nth-child(1) img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 80px auto;
}
.current {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    transition: all 0.5s;
}
